/**
 * Advices.
 */

#advice-overview a.button {
    background: none;
    border: rem-calc(1) solid $dark-gray;
    font-size: rem-calc(18);
    margin: 0;
    padding: rem-calc(5 15);
    transition: $button-transition-speed;
}

#advice-overview a.button:hover,
#advice-overview a.button:focus {
    background-color: $dark-gray;
    color: white;
}

#advice-overview h2,
#advice-process h2,
#advice-advice h2 {
    margin: rem-calc(26 0 40 0);
}

#advice-main .button {
    background-color: #ffffff;
    border: rem-calc(1) solid $secondary-color;
    color: $secondary-color;
    display: inline-block;
    font-size: rem-calc(32);
    padding: rem-calc(10) rem-calc(32);

}
