#backstage-diaporama li {
    padding: rem-calc(5);
}

#backstage-diaporama div {
    max-height: 185px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 314px;
}

#backstage-diaporama img {
    transition: 0.3s ease;
}

#backstage-diaporama img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
}
