/**
 * Customers.
 */

#customers {
}

#customers-revenues {
    font-size: $h2-font-size;
    text-align: center;
}

#customers-revenues-count {
    display: inline-block;
    min-width: 6.6em;
    text-align: left;
}

#customers-cards {
}

#customers-cards ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#customers-cards li {
    display: inline-block;
    margin: 0.2rem 0.2rem;
}

@media #{$medium-up} {
    #customers-cards li {
        margin: 0.2rem 1.5rem;
    }
}
