/**
 * Trainee.
 */

#trainee-overview {
}

#trainee-offers {
}

#trainee-offers h3 {
    background-color: $light-gray;
    color: $lighter-gray;
    padding: rem-calc(15);
}

#trainee-offers span {
}
