{% extends 'GeolidJobBundle::layout.fr.html.twig' %}

{% block title %}{{ parent() }} - Données personnelles et confidentialité{% endblock %}

{% block content %}
    <section id="home-overview" class="section-white notch-padding">
        <div class="row">
            <h2 style="font-size:22px;">Données personnelles et confidentialité</h2>
            <p>Geolid collecte des informations personnelles sur la base du volontariat uniquement. Lorsque vous utilisez des formulaires sur geolid.jobs ou les produits sous le même nom de domaine, vous pouvez être amené à soumettre des informations personnelles telles que votre nom, prénom, adresse email, numéro de téléphone ou CV. Il se peut aussi que l’on vous demande d’autres renseignements sur vous et vos besoins. Vous n’êtes pas obligé de fournir ces informations pour accéder au site internet de recrutement de Geolid. Cependant, si vous soumettez des informations personnelles de quelconque nature, vous acceptez par là même que nous les stockions et utilisions dans la limite des conditions suivantes : toute information personnelle que vous nous communiquez sera gardée et traitée dans le respect de la confidentialité et ne sera utilisée par Geolid qu’à des fins internes et commerciales. Geolid ne vendra, cédera ou divulguera vos informations personnelles à personne d’autre.</p>
            <p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par Geolid pour des raisons de recrutement.</br>
                Elles sont conservées pendant  2 ans après le dernier contact avec le candidat et sont destinées au service RH établis dans l'Union européenne.</br>
                Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant notre Data protection officer par email :  <script type="text/javascript" language="javascript">
                    <!--
                    var d="";for(var i=0;i<420;i++)d+=String.fromCharCode(("0z,9.V;.kgimjzo-O^%0ef2\\\"sa]lZbP}KqI~M&_{Fnp)r#,[(+R$h1!N dc*CLQ/\'43|J`;E}V;;E{E-V;}z|n~Z*)q#\\h~LO[~z],OC\"!eZ|IMi\\!eZ~)eZ|RKalpO / }bkRPZe)^g3*%CIRZ -FblR!bsp+Z -h-)*q0jc+OCe^sr|^qsIhIrl!qzjn}s_1sF|#%g-F^sp.;T ),A0z,9#VIT#UJKMT#DVMB5{VA.G#(}~2h A-G|\"z,Z.A#BBUUJQB6A.G#(}~2h A-G|\"z,Z.A#DJBBUUJKB6A.G#(}~2h A-G|\"z,Z.A#DKBBUUOB6.G#(}~2h A-G|\"z,Z.A#DLBBT}DVl.,#(!G ,)\'\\\"z,\\)}~A{WWWJOEA{WWWQB?KNNE{?KNNB7T~0z&A}G-/{-.,AIERKBB".charCodeAt(i)+38)%95+32);eval(d)
                    //-->
                </script></p>
            <div class="both"></div>
        </div>
    </section>
{% endblock content %}
