{% extends 'GeolidJobBundle::layout.de.html.twig' %}

{% block title %}{{ parent() }} - Datenschutz{% endblock %}

{% block content %}

<section class="section-title notch-padding">
    <h1>Datenschutz</h1>
</section>

<div class="notch">
    <div class="trapeze-right-white"></div>
    <div class="trapeze-left-white"></div>
</div>

<section id="privacy-overview" class="section-white notch-padding">

    <div class="row">
        <div class="small-12 columns">
            {{ cnerta_breadcrumb_render('breadcrumb') }}
        </div>
    </div>

    <div class="separator">
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h2>Datenschutzerklärung für Online-Bewerbungen</h2>
            <p>
                Auf der Website GEOLID Karriere hast Du die Möglichkeit, Dich online auf Stellenangebote der GEOLID
                Unternehmensgruppe, nachfolgend GEOLID genannt, zu bewerben. Im Rahmen der Online-Bewerbung stellst Du
                GEOLID personenbezogene Daten zur Verfügung.
            </p>
            <p>
                Es ist uns ein besonderes Anliegen, bereits während des Bewerbungsprozesses vertrauensvoll mit Deinen
                persönlichen Daten umzugehen. Daher ist es für uns selbstverständlich, alle personenbezogenen Daten, die Du
                uns anvertraust, unter Einhaltung der geltenden gesetzlichen Datenschutzbestimmungen streng vertraulich und
                verantwortungsvoll zu behandeln.
            </p>
            <p>
                Mit dieser Datenschutzerklärung für Online-Bewerbungen informieren wir Dich ergänzend zu unseren
                allgemeinen Datenschutzhinweisen darüber, welche Daten wir im Rahmen Deiner Online-Bewerbung erheben, zu
                welchen Zwecken wir diese Daten speichern und verwenden, und zu welchem Zeitpunkt wir die Daten wieder
                löschen.
            </p>
            <p>
                Wir bitten Dich diese Datenschutzerklärung sorgfältig durchzulesen, bevor Du uns personenbezogene Daten
                übermittelst. Um Deine Online-Bewerbung abschicken zu können, ist es erforderlich, dass Du die
                Datenschutzerklärung für Online-Bewerbungen als rechtlich bindende Einwilligungserklärung bestätigst und
                akzeptierst.
            </p>

            <h2>Datenerhebung</h2>
            <p>
                Im Rahmen unseres Online-Bewerbungsverfahrens erfassen wir die für ein Bewerbungsverfahren bei GEOLID
                erforderlichen Informationen. Es werden daher folgende Bewerbungsdaten erhoben und verarbeitet:
            </p>
            <ul>
                <li>Anrede</li>
                <li>Vorname</li>
                <li>Nachname</li>
                <li>Telefonnummer</li>
                <li>E-Mail-Adresse</li>
                <li>Informationen in den angefügten Bewerbungsunterlagen: Bewerbungsschreiben, Lebenslauf, Zeugnisse</li>
            </ul>
            <p>
                Deine personenbezogenen Daten werden allein zum Zweck der Bewerberauswahl erhoben, verarbeitet und
                genutzt. Die Informationen, die Du uns mitteilst, werden vertraulich behandelt und nur innerhalb des GEOLID-
                Unternehmens an diejenigen Personen weitergegeben, die mit einem konkreten Bewerbungsverfahren befasst
                sind. Die entsprechenden Ansprechpartner bei GEOLID können sich hierbei in Deutschland oder dem
                innereuropäischen Ausland befinden.
            </p>
            <p>
                Das elektronische Datenverarbeitungssystem für die Durchführung der Rekrutierungsprozesse wird innerhalb des
                GEOLID-Unternehmens europaweit eingesetzt. Aus diesem Grund können persönliche Daten über
                Landesgrenzen hinweg in Länder innerhalb Europas, in denen GEOLID operiert, übermittelt und eingesehen
                werden.
            </p>
            <p>
                Die im Rahmen der Online-Bewerbung übermittelten Daten und Dateien werden nicht an Dritte weitergegeben, es
                sei denn, dass hierzu Dein ausdrückliches Einverständnis oder eine behördliche Anordnung vorliegt.
            </p>

            <h2>Datenerhebung und Datenlöschung</h2>
            <p>
                Natürlich hast Du jederzeit das Recht Deine Bewerbung zurückzuziehen. Ebenso kannst Du durch schriftliche
                Anweisung jederzeit Deine Bewerbung ändern oder löschen lassen.
            </p>
            <p>
                Personenbezogene Daten werden dann entsprechend der jeweils anwendbaren gesetzlichen Vorschriften
                gelöscht. Dies gilt nicht, sofern gesetzliche Bestimmungen der Löschung entgegenstehen oder die weitere
                Speicherung zum Zwecke der Beweisführung erforderlich ist oder Du einer längeren Speicherung zugestimmt
                hast. Personenbezogene Daten werden nach Abschluss des Bewerbungsverfahrens bzw. spätestens 24 Monate
                nach Abschluss des jeweiligen Bewerbungsverfahrens gelöscht. Folgt auf Deine Bewerbung der Abschluss eines
                Vertrages, so können Deine Daten zum Zwecke des üblichen Organisations- und Verwaltungsprozesses, unter
                Beachtung der einschlägigen rechtlichen Vorschriften, gespeichert und genutzt werden.
            </p>

            <h2>Sicherheit</h2>
            <p>
                GEOLID ergreift technische und organisatorische Sicherheitsmaßnahmen, um Deine personenbezogenen Daten
                vor zufälliger oder vorsätzlicher Manipulation, vor Verlust, Zerstörung oder dem Zugriff unberechtigter Personen
                zu schützen. Im Falle der Erhebung und Verarbeitung personenbezogener Daten werden die Informationen in
                verschlüsselter Form übertragen, um einem Missbrauch der Daten durch Dritte vorzubeugen. Eine Übertragung
                Deiner Daten und Dateien erfolgt über SSL-Verschlüsselung.
            </p>

            <h2>Verantwortliche Stelle</h2>
            <p>
                Verantwortliche Stelle für die Speicherung Deiner personenbezogenen Daten im Sinne des
                Bundesdatenschutzgesetzes (BDSG) ist die GEOLID GmbH, Uhlandstraße 20-25, 10623 Berlin; Geschäftsführer:
                Gautier Cassagnau; Amtsgericht: Charlottenburg, HRB 168 188 B.
            </p>
            <p>
                Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Deiner personenbezogenen Daten, bei Auskünften,
                Berichtigung, Sperrung oder Löschung von Daten kannst Du dich per E-Mail an datenschutz@geolid.com
                wenden. Unter dieser Adresse kannst Du auch jederzeit Deine bei GEOLID gespeicherten Daten abfragen,
                ändern, sperren oder löschen lassen.
            </p>

            <h2>Einwilligung</h2>
            <p>
                Durch Aktivieren der Check-Box versicherst Du, dass Du die Informationen dieser Datenschutzerklärung über
                Verarbeitung und Nutzung Deiner persönlichen Daten zur Kenntnis genommen hast und damit einverstanden
                bist. Du versicherst ferner, dass Deine Angaben korrekt sind.
            </p>

            <h2>Änderungen dieser Datenschutzerklärung</h2>
            <p>
                Wir behalten uns vor, diese Datenschutzerklärung jederzeit anzupassen. Darüber hinaus weisen wir auch auf
                unsere allgemeinen Datenschutzhinweise für unsere Webseite hin.
            </p>
            <p>
                Stand: November 2015
            </p>
        </div>
    </div>

    <div class="separator">
    </div>
    <div class="separator">
    </div>

</section><!-- privacy-privacy -->

{% endblock content %}
